@charset "utf-8";
/* CSS Document */


@font-face {
    font-family: 'autographyregular';
    src: url("../Polices/autography-webfont.woff2") format('woff2'),
         url("../Polices/autography-webfont.woff") format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'optimamedium';
    src: url("../Polices/optima_medium-webfont.woff2") format('woff2'),
         url("../Polices/optima_medium-webfont.woff") format('woff');
    font-weight: normal;
    font-style: normal;
}

*{
	margin : 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	min-height: 1000px;
}
header{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	padding: 0 100px;
	background: #000000;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	transition: 1s;
}
header.sticky {
	height: 80px;
}

header .photoK {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	transition: 1s;
}
header.sticky .photoK {
	opacity: 0.5;
}
header .logo{
	font-family: 'autographyregular';
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	font-size: 10vw;
	color: #FFFFFF;
	font-weight: 500;
	transition: 1s;
	text-decoration: none;
	z-index: 1;
	text-shadow: #a8a8a8 5px 5px 8px;
}
header.sticky .logo {
	position: absolute;
	font-size: 2em;
	left: 200px;
	text-shadow: #a8a8a8 5px 5px 8px;
	
}
nav{
	position: relative;
	display: flex;
	z-index: 1;
	
}
nav ul {
	position: relative;
	display: flex;
	transition: 0.25s;
	transform: translateX(100px);
	opacity: 0;
}
header.sticky nav ul {
	transform: translateX(0);
	opacity: 1;
	transition-delay: 0.75s;
}
nav ul li {
	list-style: none;
}
nav ul li a {
	font-family: 'optimamedium';
	color: #fff;
	display: inline-block;
	padding: 10px 15px;
	font-size: 1.2em;
	text-decoration: none;
}
nav ul li a:hover {
	color: #FF0004;
}
section {
	font-family: 'optimamedium';
	margin-top: 50vh;
	padding: 150px;
}
section h2 {
	font-size: 3em;
}
section p {
	font-size: 1.2em;
}
@media(max-width: 670px) {
	section,
	header {
		padding: 40px;
	}
	section h2 {
		font-size: 2em;
	}
	header.sticky .logo {
		left: 120px;
	}
	nav ul {
		display: none;
		opacity: 0;
		visibility: hidden;
	}
	nav.active ul {
		position: fixed;
		top: 80px;
		left: 0;
		width: 100%;
		height: calc(100% - 80px);
		background: #000;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
	}
	header.sticky nav ul {
		opacity: 1;
		visibility: visible;
	}
	nav ul li a {
		font-size: 1.6em;
		padding: 15px 15px;
	}
	header.sticky .menuDeroulant {
		border-radius: 10px;
		position: fixed;
		top: 15px;
		right: 40px;
		width: 50px;
		height: 50px;
		cursor: pointer;
		background: #fff url("../Images/menu.png");
		background-size: 30px;
		background-repeat: no-repeat;
		background-position: center;
	}
	header.sticky .menuDeroulant.active {
		background: #fff url("../Images/close.png");
		background-size: 25px;
		background-repeat: no-repeat;
		background-position: center;
	}
}













